


<header>
  <div class="container">
    <div class="row">
        <div class="col">
          <div class="menu-icon" id="menu-icon">
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
        <div class="col">
          <h1>{{ page.header }}</h1>
        </div>
        <div class="col">
          <div class="social-icons">{{ page.top_header }} <div class="views-row ml-4"><i class="fas fa-search"></i></div></div>
        </div>
    </div>
  </div>

  <div class="search">{{ page.top_header_form }}</div>
</header>


{{ page.secondary_menu }}

{{ page.primary_menu }}

