
<div class="layout-container">

  {# DEMO ONE FRONT-PAGE HEADER #}
  <div class="demo-one-header">
      {% include '@bootstrap_sass/includes/header.html.twig' %}
  </div>
  
  {{ page.primary_menu }}
  {{ page.secondary_menu }}

  {{ page.breadcrumb }}

  {{ page.highlighted }}

  {{ page.help }}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="layout-content">
      <div class="horizontal-div">
          <ul>
              <li><a href="https://facebook.com"><i class="fab fa-facebook"></i></a></li>
              <li><a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a></li>
              <li><a href="https://twitter.com"><i class="fab fa-twitter"></i></a></li>
              <li><a href="https://linkedin.com"><i class="fab fa-linkedin"></i></a></li>
              <li><a href="https://youtube.com"><i class="fab fa-youtube"></i></a></li>
          </ul>
        <span><i class="fas fa-level-down-alt"></i>social medias</span>
      </div>
      {{ page.content }}
    </div>{# /.layout-content #}

    {% if page.sidebar_first %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    {% if page.sidebar_second %}
      <aside class="layout-sidebar-second" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}

  </main>

{# GALLERY PAGE #}
  <div class="container">
    <!-- Gallery nav buttons  -->       
    <div class="menu-verticle">
        <div class="col-md-12 d-flex justify-content-center mb-5"></div>
    </div>
    <!-- Gallery column -->     
    <div class="gallery" id="gallery"></div>
  </div>


  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}



<script>

  //item controller
  const itemCntr = (function(){


    const items = function(title, body, imguri, taxonomy){
      this.title = title;
      this.body = body;
      this.imguri = imguri;
      this.taxonomy;
    }

    const uriImages = `https://www.yellow-website.com/profile/rest/website-gallery?_format=json`;
    
    //data structure 
    const state = {
        imageData: [],
        galleryType: ''
    }

    const getImages = function(uri){
        let h = new Headers();
        h.append('Accept', 'application/vnd.api+json');
        let req = new Request(uri, {
          method: 'GET',
          headers: h,
          mode: 'cors'
        })    
        fetch(req)
              .then((response) => {
                if(response.ok){
                  return response.json();
                }else{
                  throw new Error('BAD HTTP stuff');
                }
              })
              .then((jsonData)=>{         
                  console.log(jsonData);
                  console.log(JSON.stringify(jsonData));
              })
              .catch((err)=>{ 
                console.log('Error', err.message);
              });
      }// getImages closed
    getImages(uriImages);





      //public 
      return{
        imgData: function(){
          return state.imgGallery;
        },
        gallery: function(){
          return state.galleryType;
        }
      }
    
  })();


  //ui controller
  const uiCntr = (function(){

    const uiSelectors = {
      gallery: '#gallery',
    }


    //public method
    return{
      populateImageGallery: function(images){
        let html = ''
        images.map((img)=>{
          html += `
                <div id="${img.taxonomy}" class="mb-3 pics animation all">
                  <img class="img-fluid" src="${img.image}" alt="Card image cap">
                </div>`;

        });
        document.querySelector(uiSelectors.gallery).innerHTML = html;
      },
      getSlectors: function(){
        return uiSelectors;
      }
    }

  })();
  

  //app
  const app = (function(itemCntr, uiCntr){

    const loadEvenetListener = function(){
      //get ui Selector 
      const uiSelector = uiCntr.getSlectors();

      document.addEventListener('click', function(e){
        let imgId = e.target.id;

        uiCntr.galleryType = imgId;

        //return imgId;
        console.log(imgId);
      });
    }

    console.log('IMAGE IN STATE :',itemCntr.imgData());
    console.log('GALLERY TYPE : ',itemCntr.gallery());

    //public method
    return {
      init: function(){
        console.log('initalizing....');
        populateImageGallery(itemCntr.imgData());
        //load event listener function
        loadEvenetListener();
      }
    }

  })(itemCntr, uiCntr);


  //initialize app
  app.init();





/** GET BUTTONS **/
const uiBottons = document.querySelector('.justify-content-center');
//console.log('button placeholder', uiBottons);
const uriButtons = `https://www.yellow-website.com/profile/rest/website-taxonomy?_format=json`;
function getTaxonomyButtons(uri){

    let h = new Headers();
    h.append('Accept', 'application/vnd.api+json');
    let req = new Request(uri, {
      method: 'GET',
      headers: h,
      mode: 'cors'
    })


    fetch(req)
          .then((response) => {
            if(response.ok){
              return response.json();
            }else{
              throw new Error('BAD HTTP stuff');
            }
          })
          .then((jsonData)=>{

              let buttons = '';

              console.log(jsonData);
              jsonData.map((item)=>{
                  buttons += ` <button id="${item.name}" type="button"  class="btn btn-outline-black waves-effect filter" data-rel="1">
                      ${item.name}
                    </button>`;
              });
              uiBottons.innerHTML = buttons;
                    
          })
          .catch((err)=>{ 
            console.log('Error', err.message);
          });


}// getTaxonomyButtons closed
getTaxonomyButtons(uriButtons);




/** GET IMAGES *
const uiImages = document.querySelector('#gallery');
//console.log(uiImages);

const uriImages = `https://www.yellow-website.com/profile/rest/website-gallery?_format=json`;

function getImages(uri){

  let h = new Headers();
  h.append('Accept', 'application/vnd.api+json');
  let req = new Request(uri, {
    method: 'GET',
    headers: h,
    mode: 'cors'
  })

  fetch(req)
        .then((response) => {
          if(response.ok){
            return response.json();
          }else{
            throw new Error('BAD HTTP stuff');
          }
        })
        .then((jsonData)=>{
            console.log(jsonData);
            let imgData = '';   
            jsonData.map((img)=>{
              imgData += `
                <div id="${img.field_website_gallery_taxonomy}" class="mb-3 pics animation all">
                  <img class="img-fluid" src="${img.field_website_gallery_image}" alt="Card image cap">
                </div>`  
            })
            uiImages.innerHTML = imgData;
        })
        .catch((err)=>{ 
          console.log('Error', err.message);
        });


}// getImages closed
getImages(uriImages);

 /** BUTTON *
function showHide(items){
  console.log('item clicked', items.target.attributes.id.nodeValue);
  const btnClicked = items.target.attributes.id.nodeValue;
    arrPics.forEach(function(item){
      console.log(item);
      if(item.id !== btnClicked){
        item.classList.add('hide');
      }
      if(item.id === btnClicked){
        item.classList.remove('hide');
      }
      if(btnClicked === 'all'){
        item.classList.remove('hide');
      }
    })
}
*/

</script>
