
<div class="layout-container">

  {# DEMO ONE FRONT-PAGE HEADER #}
  <div class="demo-one-header">
      {% include '@bootstrap_sass/includes/header.html.twig' %}
  </div>
  
  {{ page.primary_menu }}
  {{ page.secondary_menu }}

  {{ page.breadcrumb }}

  {{ page.highlighted }}

  {{ page.help }}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="layout-content">
      <div class="horizontal-div">
          <ul>
              <li><a href="https://facebook.com"><i class="fab fa-facebook"></i></a></li>
              <li><a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a></li>
              <li><a href="https://twitter.com"><i class="fab fa-twitter"></i></a></li>
              <li><a href="https://linkedin.com"><i class="fab fa-linkedin"></i></a></li>
              <li><a href="https://youtube.com"><i class="fab fa-youtube"></i></a></li>
          </ul>
        <span><i class="fas fa-level-down-alt"></i>social medias</span>
      </div>
      {{ page.content }}
    </div>{# /.layout-content #}

    {% if page.sidebar_first %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    {% if page.sidebar_second %}
      <aside class="layout-sidebar-second" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}

  </main>

{# GALLERY PAGE #}
  <div class="container">

    <!-- Grid row -->
    <div class="menu-verticle">
      <!-- Grid column -->
        <div class="col-md-12 d-flex justify-content-center mb-5"></div>
      <!-- Grid column -->
      {#
      <!-- Grid column -->
      <div class="col-md-12 d-flex justify-content-center mb-5">
    
        <button id="all" type="button"  class="btn btn-outline-black waves-effect filter" data-rel="all">
          All
        </button>              
          <button id="photography" type="button"  class="btn btn-outline-black waves-effect filter" data-rel="1">
          Photographys
        </button>
        <button id="branding" type="button"  class="btn btn-outline-black waves-effect filter" data-rel="2">
          Branding
        </button>
        <button id="product" type="button"  class="btn btn-outline-black waves-effect filter" data-rel="2">
          Products
        </button>
      

    
      </div>
      <!-- Grid column -->
      #}      
    </div>
    <!-- Grid row -->
    
    <!-- Grid row -->
    <div class="gallery" id="gallery">

    
      <!-- Grid column -->
      <div id="branding" class="mb-3 pics animation all 2">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" alt="Card image cap">
      </div>
      <!-- Grid column -->
    
      <!-- Grid column -->
      <div id="product" class="mb-3 pics animation all 1">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Vertical/mountain1.jpg" alt="Card image cap">
      </div>
      <!-- Grid column -->
    
      <!-- Grid column -->
      <div id="product" class="mb-3 pics animation all 1">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Vertical/mountain2.jpg" alt="Card image cap">
      </div>
      <!-- Grid column -->
    
      <!-- Grid column -->
      <div id="photography" class="mb-3 pics animation all 2">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg" alt="Card image cap">
      </div>
      <!-- Grid column -->
    
      <!-- Grid column -->
      <div  id="product" class="mb-3 pics animation all 2">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg" alt="Card image cap">
      </div>
      <!-- Grid column -->
    
      <!-- Grid column -->
      <div id="branding" class="mb-3 pics animation all 1">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Vertical/mountain3.jpg" alt="Card image cap">
      </div>
      <!-- Grid column -->
      

    </div>
    <!-- Grid row -->
  </div>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}

<script>

/** GET BUTTONS **/
const uiBottons = document.querySelector('.justify-content-center');
//console.log('button placeholder', uiBottons);
const uriButtons = `https://www.yellow-website.com/profile/jsonapi/taxonomy_term/website_type`;
function getTaxonomyButtons(uri){

    let h = new Headers();
    h.append('Accept', 'application/vnd.api+json');
    let req = new Request(uri, {
      method: 'GET',
      headers: h,
      mode: 'cors'
    })


    fetch(req)
          .then((response) => {
            if(response.ok){
              return response.json();
            }else{
              throw new Error('BAD HTTP stuff');
            }
          })
          .then((jsonData)=>{

              let buttons = '';

              console.log(jsonData.data);
              jsonData.data.map((item)=>{
                  buttons += ` <button id="${item.attributes.name}" type="button"  class="btn btn-outline-black waves-effect filter" data-rel="1">
                      ${item.attributes.name}
                    </button>`;
              });
              uiBottons.innerHTML = buttons;
                    
          })
          .catch((err)=>{ 
            console.log('Error', err.message);
          });


}// getTaxonomyButtons closed
getTaxonomyButtons(uriButtons);



/** GET IMAGES **/
const uiImages = document.querySelector('#gallery');
console.log(uiImages);


const uriImages = `https://www.yellow-website.com/profile/jsonapi/node/website_gallery?include=field_website_gallery_image`;



function getImages(uri){

  let h = new Headers();
  h.append('Accept', 'application/vnd.api+json');
  let req = new Request(uri, {
    method: 'GET',
    headers: h,
    mode: 'cors'
  })


  fetch(req)
        .then((response) => {
          if(response.ok){
            return response.json();
          }else{
            throw new Error('BAD HTTP stuff');
          }
        })
        .then((jsonData)=>{
            console.log(jsonData);
            console.log(jsonData.data); //text data
            console.log(jsonData.included); //image data

            let imgData = '';

            const  dataLength = jsonData.data.length;

            
                
                    jsonData.included.map((img)=>{
                        if(img.relationships.uid.data.id === item.relationships.uid.data.id){
                          imgData += `${index} - ${dataLength} <br />
                          <div id="product" class="mb-3 pics animation all ${item.relationships.field_website_gallery_taxonomy.data.id}">
                            <img class="img-fluid" src="https://${window.location.hostname}${img.attributes.uri.url}" alt="Card image cap">
                          </div>`
                        }
                    })
            uiImages.innerHTML = imgData;



        })
        .catch((err)=>{ 
          console.log('Error', err.message);
        });


}// getTaxonomyButtons closed
getImages(uriImages);



/** IMAGES **/
const varPics = document.querySelectorAll('.pics');  

/** NODE LIST TO ARRAY **/
const arrPics = Array.from(varPics);

 /** BUTTON **/
const btnBranding = document.getElementById('branding');
const btnProduct = document.getElementById('product');
const btnBycles = document.getElementById('bicycle');
const btnPhotography = document.getElementById('photography');
const btnAll = document.getElementById('all');

function showHide(items){
  console.log('item clicked', items.target.attributes.id.nodeValue);
  const btnClicked = items.target.attributes.id.nodeValue;
    arrPics.forEach(function(item){
      console.log(item);
      if(item.id !== btnClicked){
        item.classList.add('hide');
      }
      if(item.id === btnClicked){
        item.classList.remove('hide');
      }
      if(btnClicked === 'all'){
        item.classList.remove('hide');
      }
    })
}

btnBranding.addEventListener('click', showHide);
btnPhotography.addEventListener('click', showHide);
btnProduct.addEventListener('click', showHide);
btnAll.addEventListener('click',showHide);










</script>
