<div class="layout-container">

  {# DEMO ONE FRONT-PAGE HEADER #}
  <div class="demo-one-header">
      {% include '@bootstrap_sass/includes/header.html.twig' %}
  </div>
  {{ page.primary_menu }}
  {{ page.secondary_menu }}

  {{ page.breadcrumb }}

  {{ page.highlighted }}

  {{ page.help }}


  <main role="main">
      
    <div class="container contact">
      <div class="row">
        <div class="col-md-6">
          <div class="contact-left">
            {{ page.header }}
          </div>
          
        </div>
        <div class="col-md-6">
          <div class="contact-form">
            <div class="form-close"><a href="{{url('<front>')}} "><i class="fas fa-times"></i></a></div>
            {{ page.content }}
          </div>
          
        </div>
      </div>
    </div>  
  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}



<script>

  const vInput = document.querySelectorAll('input');

  vInput.forEach(function(item){      

    item.addEventListener('focus', function(){
        const vItem = item.parentElement;
        vItem.style.color = 'green'; 
        item.style.border = '1px solid green';
    })
    item.addEventListener('focusout',function(){
      const vItem = item.parentElement;
      vItem.style.color = '#212529';
      item.style.border = '';
    })

  })

  const vTextarea = document.querySelector('textarea');

  vTextarea.addEventListener('focus', function(){
    const vParentElement = vTextarea.parentElement.parentElement.childNodes[1];
    vParentElement.style.color = 'green';
    vTextarea.style.border = '1px solid green';
  });

  vTextarea.addEventListener('focusout', function(){
    const vParentElement = vTextarea.parentElement.parentElement.childNodes[1];
    vParentElement.style.color = '#212529';
    vTextarea.style.border = '';
  })




</script>