
<div class="layout-container">

  {# DEMO ONE FRONT-PAGE HEADER #}
  <div class="demo-one-header">
      {% include '@bootstrap_sass/includes/header.html.twig' %}
  </div>
  
  {{ page.primary_menu }}
  {{ page.secondary_menu }}

  {{ page.breadcrumb }}

  {{ page.highlighted }}

  {{ page.help }}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="layout-content">
      <div class="horizontal-div">
          <ul>
              <li><a href="https://facebook.com"><i class="fab fa-facebook"></i></a></li>
              <li><a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a></li>
              <li><a href="https://twitter.com"><i class="fab fa-twitter"></i></a></li>
              <li><a href="https://linkedin.com"><i class="fab fa-linkedin"></i></a></li>
              <li><a href="https://youtube.com"><i class="fab fa-youtube"></i></a></li>
          </ul>
        <span><i class="fas fa-level-down-alt"></i>social medias</span>
      </div>
      {{ page.content }}
    </div>{# /.layout-content #}

    {% if page.sidebar_first %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    {% if page.sidebar_second %}
      <aside class="layout-sidebar-second" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}

  </main>

{# GALLERY PAGE #}
  <div class="container">
    <!-- Gallery nav buttons  -->       
    <div class="menu-verticle">
        <div id="menu-gallery" class="col-md-12 d-flex justify-content-center mb-5"></div>
    </div>
    <!-- Gallery column -->     
    <div class="gallery" id="gallery"></div>
  </div>


  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}



<script>

/* ITEM CONTROLLER *******************************************/ 
  const itemCntr = (function(){

    /** DATA STRUCTURE **/ 
    const state = {
        galleryBtn: []
    }

    /** FETCH REST API FUNCTION **/
    function fetchRestAPI(uri, state){
      let h = new Headers();
      h.append('Accept', 'application/vnd.api+json');
      let req = new Request(uri, {
        method: 'GET',
        headers: h,
        mode: 'cors'
      })    
      return fetch(req)
            .then((response) => {
              if(response.ok){
                return response.json();
              }else{
                throw new Error('BAD HTTP stuff');
              }
            })
            .then( data => data.map(data => data))
            .catch((err)=>{ console.log('Error', err.message);});
    }// getImages closed
        
  
    /** PUBLIC FUNCTION **/
    return{
      fetchRestAPI: function(uri){
        return fetchRestAPI(uri);
      },
      stateValue: function(){
        return state
      }
    }// return closed   

  })();


 /* UI CONTROLLER *******************************************/ 
  const uiCntr = (function(){

    const uiSelectors = {
      uiGallery: '#gallery',
      menuGallery: '#menu-gallery'
    }



    //public method
    return{
    getSlectors: function(){
        return uiSelectors;
      }
    }
  })();


/* APP *******************************************/ 
  const app = (function(itemCntr, uiCntr){

/** ALL EVENT LISTENER FUNCTION **/    
    const loadEvenetListener = function(){
      //get ui Selector 
      const uiSelector = uiCntr.getSlectors();

      document.addEventListener('click', function(e){
        let imgId = e.target.id;
        uiCntr.galleryType = imgId;
        //return imgId;
        console.log('clicked id ',imgId);
       // const showHideItem = document.getElementById(imgId);
        const pics = document.querySelectorAll('.pics');
      
        pics.forEach((item)=>{
          console.log(item.item.id);
          imgId === 'All'  ? item.classList.remove('hide') 
          : item.id === imgId ? item.classList.add('hide') : item.classList.remove('hide');
          
        })

      });
    }


    //public method
    return {
      init: function(){
        console.log('initalizing....???');

      

/** IMAGE GALLERY **/
        const uriImages = `https://www.yellow-website.com/profile/rest/website-gallery?_format=json`;
        itemCntr.fetchRestAPI(uriImages)
        .then(jsonData => {
          console.log('data',jsonData);
          let output = '';
          jsonData.forEach(function(img){
            output += `
            <div id="${img.field_website_gallery_taxonomy}" class="show mb-3 pics animation">
            <img class="img-fluid" src="${img.field_website_gallery_image}" alt="Card image cap">
            </div>`
          });
          document.querySelector(uiCntr.getSlectors().uiGallery).innerHTML = output;
        })
        
/** GALLERY MENU **/
        const uriGalleryMenu = `https://www.yellow-website.com/profile/rest/website-taxonomy?_format=json`;
        const galleryBtn = 'galleryBtn';
        itemCntr.fetchRestAPI(uriGalleryMenu, galleryBtn)
        .then(response => {
          console.log('menu', response);
          let buttons = '';
          response.map((item)=>{
            buttons += `
            <button id="${item.name}" type="button"  class="btn btn-outline-black waves-effect filter" data-rel="1">
              ${item.name}
            </button>`;
          });
          document.querySelector(uiCntr.getSlectors().menuGallery).innerHTML = buttons;
        })
        
        
        //load event listener function
        loadEvenetListener();
      }
    }
  })(itemCntr, uiCntr);
  //initialize app
  app.init();


</script>
